* {
    box-sizing: border-box;
  }
  
  body {
    --color-grey-50: #f4effa;
    --color-grey-100: #dfdbe6;
    --color-grey-200: #b2adb8;
    --color-grey-300: #a7a3ae;
    --color-grey-400: #918d96;
    --color-grey-500: #87848b;
    --color-grey-600: #6a676f;
    --color-grey-700: #4f4c52;
    --color-grey-800: #343036;
    --color-grey-900: #221f23;
  


    --color-primary-400: #b67390;
    --color-primary-500: #7B435B;
    --color-primary-600: #531d34;
   
  
  
    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 0.75rem;
    --size-4: 1rem;
    --size-5: 1.25rem;
    --size-6: 1.5rem;
    --size-8: 2rem;
    --size-16: 4rem;
    --size-20: 6rem;
    --size-40: 10rem;
  
    margin: 0;
    background-image: url('../public/static/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #252525;

    min-height: 100vh;
  }
  
  
  a {
    text-decoration: none;
  }
  
  button {
    font: inherit;
    cursor: pointer;
  }

  li {
    text-decoration: none;
  }