


.grid {
    display: grid;
    border-top: 2px solid var(--color-grey-700);
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas: 'sidebar header header header'
                        'sidebar content content content';
}