

.button__icon {
    font-family: inherit;
    border-radius: 100%;
    border: 2px solid var(--color-primary-500);
    height: 50px;
    width: 50px;
    color: var(--color-primary-500);
    background-color: var(--color-grey-50);
    box-shadow: 0 0 1px var(--color-primary-500);
    padding: 12px 0;
    font-size: 1.5rem;
  
    
}
  
.content {
    min-width: 200px;
    background-color: var(--color-grey-50);
    border-radius: 6px;
    padding: 5px;
    
}

.link {
    margin-left: 0;
    padding: 0 .5rem;
    text-decoration: none;
}
  
  .item {
    font-size: 17px;
    line-height: 1;
    color: var(--color-primary-500);
    border-radius: 3px;
    display: flex;
    align-items: left;
    height: 25px;
    padding: 5px 20px;
  }
  
  .icon__left {
    margin-left: 0;
    padding: 0 .5rem;
  }
