

.button__icon {
  font-family: inherit;
  border-radius: 100%;
  border: 2px solid var(--color-primary-500);
  height: 50px;
  width: 50px;
  color: var(--color-primary-500);
  background-color: var(--color-grey-50);
  box-shadow: 0 0 1px var(--color-primary-500);
  padding: 12px 0;
  font-size: 1.5rem;
}
  
.content {
  min-width: 200px;
  background-color: var(--color-grey-50);
  border: 2px solid var(--color-grey-700);
  border-radius: 6px;
  padding: 20px;
  animation: slideDownAndFade .2s cubic-bezier(0.16, 1, 0.3, 1);
}


.link {
  text-decoration: none;
}
  
.item {
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-primary-500);
  border-radius: 3px;
  display: flex;
  align-items: left;
  padding: 20px 20px;
  cursor: pointer;
}
  
.icon__left {
  margin-left: 0;
  padding: 0 .5rem;
}

.arrow {
  fill: var(--color-grey-700);
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}