.header {
    font-size: 1rem;
    height: 7rem;
    background-color: var(--color-grey-50);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.mainnav {
    display:flex;
    justify-content: space-evenly;
    align-items: center;

    &__button {
        margin-left: 2px;
        color: var(--color-primary-500);
        padding: 0 2rem;
        font-weight: bold;
        font-size: 1.2rem;
    }

    &__logo {
        margin-left: 0;
    }
}

.usernav {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 1rem;
   

    &__iconbox {
        position: relative;
    }

}

/* reset */
.button {
    all: unset;
    font-family: inherit;
        cursor: pointer;
        border: none;
        border-radius: 3rem;
        text-transform: uppercase;
        padding: .75rem 1.5rem;
        background-color: var(--color-grey-100);
  }
  
  
  .signin__icon {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 1.5rem;
  }