.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: var(--color-grey-50);
    border-bottom: var(--color-grey-light-2);
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.usernav {
    align-self: stretch;
    display: flex;
    align-items: center;
    

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__iconbox {
        position: relative;
    }

    &__button {
        border: none;
        background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
        height: 50%;
        width: 100%;
        border-radius: 3rem;
        font-size: 1.25rem;
        font-weight: 400;
        text-transform: uppercase;
        padding: 0rem 1.75rem;
        font-family: inherit;
        cursor: inherit;
        color: #fff;
    }

}