

/* reset */
.button {
  all: unset;
  font-family: inherit;
      cursor: pointer;
      border: none;
      border-radius: 3rem;
      text-transform: uppercase;
      padding: .75rem 1.5rem;
      background-color: var(--color-grey-100);
}


.signin__icon {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 1.5rem;
}
